[Unit]
Description=Server Linux Backend
After=network.target

[Service]
ExecStart=/opt/backend/wol/server-wol-with-logging
WorkingDirectory=/opt/backend/wol
Restart=always
RestartSec=5
User=edp
Group=edp

[Install]
WantedBy=multi-user.target
