# Backend API Configuration
NEXT_PUBLIC_API_URL=http://192.168.5.12:8001
NEXT_PUBLIC_API_VERSION=v1

# Application Configuration
NEXT_PUBLIC_APP_NAME="Digital Signage CMS"
NEXT_PUBLIC_DEFAULT_LANGUAGE=id

# Feature Flags
NEXT_PUBLIC_ENABLE_DARK_MODE=true
NEXT_PUBLIC_ENABLE_ANALYTICS=false
